<div class="card-container">
  <mat-card class="card">
    <div class="gif" [style.background-image]="welcomeGif | async"></div>

    <form class="form">
      <div class="input-container">
        <label class="label">Your Name</label>
        <div class="name-color-container">
          <input [(ngModel)]="nameInput" class="name-input" name="name" [placeholder]="defaultName" type="text">
          <a (click)="pickColor()" [style.backgroundColor]="playerColor" class="color-input"></a>
        </div>
      </div>
      <div class="input-container">
        <label class="label">Room code</label>
        <input [(ngModel)]="roomCodeInput" name="room-code" type="text">
      </div>
      <div class="actions">
        <a class="play button" type="button" (click)="play()">{{ playButtonText }}</a>
        <a class="customize button" type="button">
          <mat-icon aria-label="Customize game">build</mat-icon>
        </a>
      </div>
    </form>
  </mat-card>
</div>
