@import url('https://fonts.google.com/specimen/Fredoka+One');


$primary-800: #101f27;
$primary-400: #37464f;
$primary-100: #62717b;

$accent-500: #ffb347;

$dark-white: #f1f1f1;

$main-font: 'Fredoka One', Roboto, "Helvetica Neue", sans-serif;