@use '../../../../styles/variables.scss' as var;

.leaderboard-container {
    background-color: var.$dark-white;
    border: var.$accent-500 solid 3px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 0 0.8rem 0;

    .user-container {
        background-color: rgba(var.$accent-500, 0.25);
        padding: 0.2rem 1rem 0.2rem 1rem;
        border: var.$primary-800 solid 2px;
        border-radius: 17px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.8rem;
        height: 5rem;

        .user-photo {
            background-color: black;
            background-image: url("https://media-exp1.licdn.com/dms/image/C5603AQE_MZydFSoNrw/profile-displayphoto-shrink_200_200/0/1583853168305?e=1637193600&v=beta&t=Ap0MEDA780DVePLBu7xV5Uv5KqWiBnUHXyPv06W7imY");
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        
        .user-info {
            font-family: var.$main-font;
            .user-name {
                font-family: inherit;
                vertical-align: middle;
                margin-top: 1rem;
                font-size: 1.3em;
            }
    
            .user-score {
                margin-top: -1rem;
                font-size: 1.1em;
            }
        }

        .icons {
            height: 100%;
            margin: 0.2em -0.5em 0 0.2em;
            display: flex;
            flex-direction: column;
            position: relative;
            right: 0;
            .edit-icon {
                height: 100%;
            }
        }
    }
}