<div class="chat-container">
    <div class="messages">
        <div class="message" *ngFor="let message of room.messages" [style.border-color]="message.user.color">
            <div class="user-name" [style.color]="message.user.color">{{ message.user.name }} :</div>
            <div class="user-message">{{ message.message }}</div>
        </div>
    </div>
    <form (ngSubmit)="sendMessage()" [formGroup]="chatForm">
        <input formControlName="message" class="message-input" type="text" placeholder="Enter message ...">
    </form>
</div>