$background-color: #101f27;
$dark-gif: #37464f;
$light-gif: #62717b;
$background-size: 50px;

.background {
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  &::before {
    content: '';
  }
}

@keyframes scroll {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-100%, 100%);
  }
}
